@media (max-width: 768px) {
    html, body {
        height: 125%;
    }
}

@media (min-width: 768px) {
    html, body {
        height: 100%;
    }
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;

    border: none;
    height: 2px;

    color: #888;
    background-color: #888;
}